
* {

	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	
	font-family: "sans-serif";
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1E272E;
	width: 100vw;
	height: 100vh;
}

.box {

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	height: 300px;
}

.title {

	font-size: 35px;
	margin-bottom: 30px;
	color: white;

}

.box-input {

	width: 100%;
	display: flex;
	justify-content: center;

}

.input-url {
	padding: 12px 20px;
	text-align: center;
	outline: transparent;
	width: 40%;
	border-radius: 50px;
	font-size: 20px;
	color: #1E272E;
}

.btn {

	padding: 25px 20px;
	width: 170px;
	margin-left: 10px;
	border-radius: 50px;
	background-color: #FFD32A;
	font-size: 20px;
	color: #1E272E;

}

.btn:hover {

	background-color: #FAC800;
	transition: 0.5s;
	cursor: pointer;

}